body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dropdown-toggle::after {
  display: none !important;
}
.btn_delete{
  background-color: #FFF !important;
  border: none !important;
}
.accordion-button::after {
  display: none !important;
}
.accordion-item{
  border: none !important;
}
.accordion-button:not(.collapsed){
  background-color: #fff !important;
}
.navbar-toggler{
  border: none !important;
}
